body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

header nav {
  margin-top: 1rem;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#game {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
}

#controls-hint {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.rounded-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px 2px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.rounded-button:hover {
    background-color: white;
    color: black;
}

#start-game {
    transition: opacity 0.5s ease-in-out;
}
